html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
}

#control-panel {
    margin: 20px;
}

#webgl-container {
    width: 95%;
    height: 85%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webglCanvas {
    width: 100%;
    height: 100%;
}
